<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<div>
  <h4>phone numbers</h4>
<ul>
  <% @person.phone_numbers.each do |phone_number| %>
    <li>
      <span><%= phone_number.number %></span>
      <span><%= link_to('edit', edit_phone_number_path(phone_number)) %></span>
      <span><%= link_to('delete', phone_number_path(phone_number), :method => "delete") %></span>
    </li>
  <% end %>
</ul>
<p><%= link_to "Add a phone number", new_phone_number_path(contact_id: @person.id, contact_type: "Person") %></p>
</div>

<div>
  <h4>phone numbers</h4>
<ul id="emails">
  <% @person.email_addresses.each do |addr| %>
    <li>
      <span><%= addr.address %></span>
      <span><%= link_to('edit', edit_email_address_path(addr)) %></span>
      <span><%= link_to('delete', email_address_path(addr), :method => "delete", :class => "delete-email") %></span>
    </li>
  <% end %>
</ul>
<p><%= link_to "Add an email address", new_email_address_path(person_id: @person.id) %></p>
</div>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
