<p id="notice"><%= notice %></p>

<p>
  <strong>Contact Type:</strong>
  <%= @email_address.contact_type %>
</p>
<p>
  <strong>Contact ID:</strong>
  <%= @email_address.contact_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @email_address.address %>
</p>

<%= link_to 'Edit', edit_email_address_path(@email_address) %> |
<%= link_to 'Back', email_addresses_path %>
